@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  transition:
    color 0.5s,
    background-color 0.5s;
}
